.answer-block {
    display: inline-block;
}

.answer-block input {
    display: none;
}

.answer-block label {
    background-color: lightblue;
    margin: 0 2em;
    padding: 1em;
    border-radius: 10px;
}

.answer-block input+label {
    background-color: lightblue;
}

.answer-block input:checked+label {
    background-color: pink;
}